<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Finance Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sync_notion_data' %}">Sync Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger btn-sm" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    

    {% block content %}{% endblock content %}

    <footer class="bg-dark text-white text-center py-3 mt-auto fixed-bottom">
        <p>&copy; 2024 Finance Tracker. All Rights Reserved. | <a href="https://example.com" class="text-white">Privacy Policy</a> | <a href="https://example.com" class="text-white">Terms of Service</a></p>
     </footer>
     

</body>
</html>
